@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Inter';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
    min-width: 100%;
	min-height: 120px;
	max-height: 250px;
}

.ck-content {
	font-family: 'Inter';
	word-break: break-word;
}
.ck-editor__editable_inline {
    min-height: 100%;
}


p {
	font-size: 12px;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	font-weight: 700;
}


h3 {
	font-size: 24px;
	font-weight: 700;
}

h4 {
	font-size: 18px;
	font-weight: 700;
}

h5 {
	font-size: 16px;
	font-weight: 700;
}

h6 {
	font-size: 14px;
	font-weight: 700;
}